# Django settings
DEBUG=True
SECRET_KEY=django-insecure-fp#d%rf(+u90ude8++4uhpi+qfk26&t_m=yxpqpl@o4f!+1jg^
ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings
POSTGRES_NAME=site_registry
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Or use DATABASE_URL (alternative to individual settings)
DATABASE_URL=postgresql://postgres:postgres@db:5432/site_registry
